body {
  
  margin: 0;
  padding: 0;
  
  
  
}

body {
  background: linear-gradient(to right, rgb(35, 37, 38), rgb(65, 67, 69));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
